<div class="background-gradient">
  <div class="wrapper">


    <div class="logo-container">
      <div class="logo"></div>
    </div>

    <div class="main-container">

      <div class="left-container">
        <iframe src="https://player.vimeo.com/video/224064084" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <div class="right-container">
        <h3 class="main">O Ribon é um aplicativo que permite realizar doações sem gastar dinheiro. Retiramos o recurso de empresas parceiras e patrocinadoras. A cada dia que mantém o aplicativo instalado é possível doar 2 dias de água potável para uma pessoa, ou 7 dias de nutrientes para uma criança por exemplo. Faça parte disso e se inscreva para receber um e-mail quando o aplicativo for lançado:<h3>

        <h4 class="secondary">Inscreva seu email e acompanhe essa caminhada.</h4>
        <div class="input-container">
          <input class="input js-input" validate type="email" required placeholder="Seu e-mail">
          <input class="button js-subscribe" type="submit" value="Inscrever!">
        </div>
        <h3 class="js-message success-message">Obrigado!</h3>

        <div class="social-medias">
          <a target="_blank" href="https://twitter.com/ribonapp" class="twitter"></a>
          <a target="_blank" href="https://www.facebook.com/ribonapp" class="facebook"></a>
        </div>

      </div>

    </div>
  </div>
</div>
