<div class="background-gradient">
  <div class="wrapper">


    <div class="logo-container">
      <div class="logo"></div>
    </div>

    <div class="main-container">

      <div class="left-container">
        <iframe src="https://player.vimeo.com/video/175436658" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <div class="right-container">
        <h3 class="main">Somos grandes entusiastas de ações sociais e do que é novo e acreditamos que o ato de doar deve ser mais prazeroso e contínuo. Ribon é um aplicativo para celular que permite que usuários tenham a experiência da doação ao desbloquearem a tela do seu celular. De forma gratuita, diária, e sem sair da rotina.<h3>

        <h4 class="secondary">Inscreva seu email e acompanhe essa caminhada.</h4>
        <div class="input-container">
          <input class="input js-input" validate type="email" required placeholder="Seu e-mail">
          <input class="button js-subscribe" type="submit" value="Inscrever!">
        </div>
        <h3 class="js-message success-message">Obrigado!</h3>

        <div class="social-medias">
          <a target="_blank" href="https://twitter.com/ribonapp" class="twitter"></a>
          <a target="_blank" href="https://www.facebook.com/ribonapp" class="facebook"></a>
        </div>

      </div>

    </div>
  </div>
</div>
