<div class="background-gradient">
  <div class="wrapper">


    <div class="logo-container">
      <div class="logo"></div>
    </div>

    <div class="main-container">

      <div class="left-container">
        <iframe src="https://www.youtube.com/embed/rpS_wYh4Xkc" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="right-container">
        <h4 class="main">Somos grandes entusiastas de ações sociais e do que é novo e acreditamos que o ato de doar deve ser mais prazeroso e contínuo.<h4>
        <h4 class="main">Ribon é um aplicativo para celular que permite que usuários tenham a experiência da doação ao desbloquearem a tela do seu celular. De forma gratuita, diária, e sem sair da rotina.</h4>
        <h4 class="main">Na tela de bloqueio do celular do usuário é exibido textos de marketing de conteúdo de acordo com o seu perfil e relevantes no seu dia a dia.</h4>
        <h4 class="main">Dessa forma espalhamos o sentimento de doação e tornamos o mundo mais humano.</h4>
        <h4 class="secondary">Coloque seu e-mail e seja um beta tester.</h4>
        <div class="input-container">
          <input class="input" type="email" placeholder="Seu e-mail">
          <button class="button">Enviar</button>
        </div>
      </div>

    </div>
  </div>
</div>
