<div class="background-gradient">
  <div class="wrapper">


    <div class="logo-container">
      <div class="logo"></div>
    </div>

    <div class="main-container">

      <div class="left-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rpS_wYh4Xkc" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="right-container">
        <h3 class="main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec felis quis dolor ornare auctor.</h3>
        <h4 class="secondary-text">Coloque seu e-mail e seja um beta tester.</h4>
        <input class="input" placeholder="Seu e-mail">
      </div>

    </div>
  </div>
</div>
