<h1>Nova   Carta</h1>

<div class="letter-title">
  <label>Titulo da carta</label>
  <input class="js-input-title">
</div>

<div class="letter-logo">
  <label>Url da logo</label>
  <input class="js-input-logo">
</div>

<button class="js-add-paragraph">Adicionar paragrafo</button>


<div class="js-body-letter">
  <textarea class="js-input-paragraph"></textarea>
</div>

<button class="js-create-letter">Criar carta</button>

<%= link_to 'Back', letters_path %>
