<div class="background-proposal">

  <div class="page-container">

    <div class="envelop-container">
      <div class="back"></div>
      <div class="front"></div>
    </div>

    <div class="envelop-letter">

      <div class="letter-header">
        <div class="logo"></div>
        <h4 class="title"><%= @letter.title %>,</h4>
      </div>

      <div class="letter-body">
        <% @letter.body.each do |p| %>
          <p class="text"><%= p %></p>
        <% end %>
        <p class="signature">Um abraço,</p>
        <p class="signature">Rafael Rodeiro Founder & CEO da Ribon</p>
        <button class="btn">QUERO PARTICIPAR</button>
        <div class="input-container">
          <input class="input js-input-proposal" validate type="email" required placeholder="Seu e-mail">
          <input class="button js-subscribe-proposal" type="submit" value="PARTICIPAR!">
        </div>
      </div>

    </div>

  </div>

</div>
