.envelop-letter {
  background-color: #ffffff;
  padding-top: 80px;
  position: relative;

  -webkit-box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.5);

  z-index: 2;

  .letter-header, .letter-body {
    @include span-columns(4 of 6);
    @include shift(1 of 6);
  }

}
