.envelop-container {
  @include clearfix;

  .front, .back {
    @include span-columns(8);
    @include shift(2);

    position: fixed;
    bottom: -100px;

    background-size: 100% auto;
    background-repeat: no-repeat;

  }

  .front {
    min-height: 32vw;
    background-image: image-url('envelop-front.svg');
    z-index: 3;


  }

  .back {
    min-height: 54vw;
    background-image: image-url('envelop-back.svg');
    z-index: 1;

  }
}

@media(max-width: 980px){
  .envelop-container {
    .front, .back {
      width: 100%;
      margin-left: 0;
      bottom: 0;
    }

    .back {
      bottom: 11vw;
    }
  }
}
