.input-container {
  @include clearfix;
  width: 100%;
  border: 1px solid #ffffff;
  margin-bottom: 30px;
  > .input {
    color: #ffffff;
    width: 65%;
    padding: 15px;
    border: 0;
    background-color: transparent;
    display: block;
    float: left;
  }

  > .button {
    padding: 15px;
    width: 35%;
    border: 0;
    background-color: #ffffff;
    display: block;
    float: left;
    color: $color-primary;
  }

  &.-hidden {
    display: none;
  }
}
