.input-container {
  @include clearfix;
  width: 100%;
  border: 1px solid #ffffff;

  > .input {
    color: #ffffff;
    width: 70%;
    padding: 15px;
    border: 0;
    background-color: transparent;
    display: block;
    float: left;
  }

  > .button {
    padding: 15px;
    width: 30%;
    border: 0;
    background-color: #ffffff;
    display: block;
    float: left;
    color: $color-primary;
  }

  &.-hidden {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .input-container {
    margin-bottom: 50px;
  }
}
