.letter-body {
  .text {
    font-weight: 300;
  }

  .signature {
    font-weight: 300;
    margin: 5px 0;
  }

  .btn {
    background-color: $color-base;
    cursor: pointer;
    color: #ffffff;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 25vw;
    width: 100%;
    border: 0;
    z-index: 5;

    &.-hidden {
      display: none;
    }
  }

  .message {
    margin-bottom: 25vw;
    color: $color-base;
    text-align: center;
    display: none;

    &.-active {
      display: block;
    }

  }

  .input-container {
    display: none;
    margin-top: 20px;
    margin-bottom: 25vw;
    border: 3px solid $color-base;

    .input {
      padding: 10px;
      color: $color-base;
    }

    .button {
      background-color: $color-base;
      color: #ffffff;
      padding: 10px;
      cursor: pointer;
    }

    &.-active {
      display: block;
    }
  }
}

@media(max-width: 980px){
  .letter-body {
    .btn, .input-container, .message {
      margin-bottom: 30vw;
    }
  }
}
