.logo-container {
  @include clearfix;
  margin-top: calc(5vw + 30px);
  margin-bottom: 70px;

  > .logo {
    margin: 0 auto;
    height: 145px;
    width: 291px;
    max-width: 100%;
    background-image: image-url("logo.svg");
  }
}

@media screen and (max-height: 1200px) {
  .logo-container {
    margin-bottom: 0px;

  }
}
