.right-container {
  @include clearfix;
  color: #ffffff;

  > .main, > .secondary {
    font-family: $font-family-body;
    font-weight: 300;
  }

  > .main {
    margin-top: -5px;
  }

}

@media screen and (max-width: 980px) {
  .right-container {
    > .main {
      margin-top: 20px;
    }
  }
}
