$font-size-body: 1em;
$font-size-h1: 4em;
$font-size-h2: 3em;
$font-size-h3: 2em;
$font-size-h4: 1.5em;
$font-size-h5: 0.75em;
$font-size-h6: 0.625em;

$font-family-body: "Open Sans", serif;
$font-family-headings: "Montserrat", Helvetica, serif;
